{% extends 'base.html.twig' %}

{% block title %}Webreathe{% endblock %}

{% block body %}
<body>
            <div class="row">
                <div class="col-lg-12 m-0">
                    <div class="banner-area ">
                        <div class="rCentered bg-white w-75 text-center pt-2 m-0 mt-5">
                            <h1 class="p-0"><b>L'intelligence derrière vos technologies d'affaires..</b></h1>
                        </div>
                    </div>
                </div>

                    <div class="container">
                        <div  class="col-lg-12 col-md-12 mt-5">
                            <h2 class="text-center">NOS SOLUTIONS NUMÉRIQUES POUR DES DÉFIS DIFFÉRENTS RÉELS.</h2>
                        </div>
                        <div>
                            <div class="d-flex justify-content-start col-lg-12 col-md-12 m-4">
                                <p class=" text-secondary text-center">L'Internet des objets ou IdO est l'interconnexion entre l'Internet et des objets, des lieux et des environnements physiques. L'appellation désigne un nombre croissant d'objets connectés
                                    à l'Internet permettant ainsi une communication entre nos biens dits physiques et leurs existences numériques Alias aliquid dignissimos distinctio dolores eius error, et facilis ipsa iste molestiae, nemo nihil omnis
                                    quas, sequi similique sint sit? A cupiditate dolore eum obcaecati quae quaerat sapiente unde velit!
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            <!--========Cards========-->
            <div class="container-fluid main-cont ">
                <div class="row news-row">
                    <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
                        <div class="card-group">
                            {% for card in cards %}
                                <div class="underlay">
                                    <div class="cards card">
                                        <div class="card-img-top" style="background-image: url('{{ card.image }}')"></div>
                                        <div class="card-block" >
                                            <h5 class="card-title mx-3" style="font-family: 'Anton', sans-serif">{{ card.title }}<hr></h5>
                                            <p class="card-text mx-3 mb-3" > {{ card.description}} <a href="#"><u>Read More...</u></a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        <div>
           

             {#  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
            <!--========------------------------------------------------------------------------------------========-->



                <div class="row">
                        <div class="my-5 pb-5 taille text-white d-flex flex-wrap d-flex justify-content-between bg-div  col-md-12">
                            <div class="col-md-4 mt-4 ml-5 d-flex align-items-center ">
                                {% for card in cards %}
                                    <div class="row ">
                                        <p class=" text-center col-lg-12 col-md-6">{{ card.description }}</p>
                                    </div>
                                {% endfor %}                            </div>
                            <div class="position col-lg-6 col-md-6 d-flex justify-content-end mt-5">
                                <div class="box col-lg-12 col-md-12 mx-4">
                                    <span style="--i:1;"><img class="w-100 h-100 mx-3" src="https://docs.appdynamics.com/download/attachments/104038310/iot-device-dashboard-geo.png?version=1&modificationDate=1611103445000&api=v2&effects=drop-shadow" alt=""></span>
                                </div>
                            </div>
                        </div>
                </div>


            <!------------------------->






                <!--========Carousel========-->

                <div class="row">

                                <h2 class="text-center  col-md-12 mt-2 mb-4">Nos partenaires ont confiance en NOUS</h2>
                                <div class="col-md-12 py-3">
                                    <div class="text-secondary d-flex justify-content-center col-md-12">
                                        <p class="m-3">L'Internet des objets ou IdO est l'interconnexion entre l'Internet et des objets, des lieux et des environnements  un nombre croissants</p>
                                    </div>
                                </div>

                            <div class=" col-md-12 wrapper mt-5 mb-2">
                                <div class="carousel owl-carousel">
                                    {% for carousel4 in carousels4 %}
                                        <div class="homeP card card-1">
                                            <img class="logo-partner " src="{{ carousel4.logo }}" alt="First slide">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                </div>

        </div>
</body>



{% endblock %}

